{% extends "base.html" %}
{% block content %}

<h1>asdasdas</h1>
{% for order in object_list %}
<h1>{{ order.total }}</h1>

{% endfor %}


<div class="accordion" id="checkoutAccordion">
                            
    <div class="accordion-item">
        <h2 class="accordion-header" id="paymentTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment" aria-expanded="false" aria-controls="payment">
            Cheque Payment
            </button>
        </h2>
        <div id="payment" class="accordion-collapse collapse" aria-labelledby="paymentTwo" data-bs-parent="#checkoutAccordion">
            <div class="accordion-body">
            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="paypalThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paypal" aria-expanded="false" aria-controls="paypal">
            PayPal
            </button>
        </h2>
        <div id="paypal" class="accordion-collapse collapse" aria-labelledby="paypalThree" data-bs-parent="#checkoutAccordion">
            <div class="accordion-body">
                <p>Pay via PayPal; you can pay with your credit card if you don’t have a
                PayPal account.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}