{% load static %}
<div class="slider-area" data-background="{% static 'assets/img/banner.png' %}" style="background-size:cover; width:2000;">
    <div class="swiper-container slider">
        <div class="slider-wrapper swiper-wrapper">
            <div class="single-slider swiper-slide slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="slider-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>